body {
padding:0;
margin:0;
  overflow: hidden;
  color: linen;
}
img {
  width: 100vw;
  display: block;
  margin: 0 auto;
}
canvas {
background: #000;
}
#buffer {
  display: none;
}
#z_center{text-align: center;position: absolute;left: 50%;top:0;}
